.goback {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding-top: 79px;
    padding-bottom: 56px;
    height: 20px;
    text-align: left;
    /* align-self:left; */
}

.goback:hover {
    cursor: pointer;
}

.product {
    padding-top: 0;
}

@media (max-width:768px) {
    .goback {
        min-height: 20px;
        padding-left: 20px;
    }
}