.Checkout {
  background-color: #f1f1f1;
  padding: 79px 100px 141px;
  display: flex;
  gap: 2%;
  color: #000;
}

.check {
  width: 66%;
  min-height: 997px;
  border-radius: 8px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 48px;
  text-align: start;
}

#h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.form {
  margin-top: 41px;
}

.form h3 {
  color: #D87D4A;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 16px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.214px;
}

input {
  outline: 0;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  color: rgba(0, 0, 0, 1);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  padding-left: 24px;
}

::placeholder {
  color: #000;
  opacity: 0.4;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.billing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 53px;
}

.shipping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 61px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.details h4 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.214px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 48%;
}

.opt {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #CFCFCF;
}

input[type="radio"] {
  width: 6%;
  margin-left: 16px;
}

.opt label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.e-money {
  display: flex;
  justify-content: space-between;
}

.summary {
  width: 32%;
  height: fit-content;
  border-radius: 8px;
  padding: 32px 33px;
  background-color: #FFF;
  text-align: start;
}

#count {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
}

#prices {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#ttl {
  margin-top: 24px;
}

#tp {
  color: #D87D4A;
}

.pay {
  width: 100%;
  color: #FFF;
  margin-top: 32px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.errors {
  color: #c35616;
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  margin: 3px 0 0 3px;
}

.err {
  width: 48%;
}

.address {
  width: 100%;
}
