.footer {
  width: 100%;
  min-height: 365px;
  background: #101010;
  padding: 0 100px;
  position: relative;
}

.links1 {
  display: flex;
  gap: 34px;
}

.link1 {
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}

.copyr {
  font-weight: 700;
}

.top {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
}

.descr {
  padding-top: 36px;
  max-width: 540px;
  text-align: start;
}

.bottom {
  margin-top: 56px;
  text-align: left;
  padding-bottom: 46px;
}

.icons {
  position: absolute;
  bottom: 136px;
  right: 100px;
  display: flex;
  gap: 16px;
}

.links1 {
  justify-content: space-between;
}

.link1:hover,
.icon:hover {
  color: #d87d4a;
  cursor: pointer;
}

@media (max-width: 880px) {
  .footer {
    padding: 0 50px;
  }

  .icons {
    right: 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    min-height: 400px;
    padding: 0 39px;
  }

  .descr {
    padding-top: 32px;
    max-width: 689px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    gap: 32px;
  }

  .icons {
    position: static;
    display: flex;
    gap: 16px;
  }

  .bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 0 24px;
  }

  .icons {
    right: 24px;
  }
}

@media (max-width: 475px) {
  .top {
    align-items: center;
  }

  .links1 {
    flex-direction: column;
    gap: 16px;
  }

  .descr {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .bottom {
    flex-direction: column;
    gap: 46px;
    align-items: center;
  }
}