.final {
  display: flex;
  justify-content: center;
  position: relative;
  top: 125px;
}

.thnk {
  width: 37.5%;
  height: fit-content;
  border-radius: 8px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 48px;
  text-align: left;
}

.thnk img {
  width: 64px;
  height: 64px;
}

.thnk #h1 {
  width: 65%;
  margin: 33px 0 24px;
}

.grand-ttl {
  margin: 33px 0 46px;
  width: 100%;
  border-radius: 8px;
  background: #F1F1F1;
  display: flex;
  /* height: 140px; */
}

#items {
  width: 55%;
  height: 140px;
  padding: 5%;
}

#gt-img {
  width: 50px;
  height: 50px;
}

hr {
  margin: 4% 0;
}

#and {
  color: #000;
  opacity: 0.5;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: -0.214px;
  text-align: center;
}

#grand {
  width: 45%;
  border-radius: 0px 8px 8px 0px;
  background: #000;
  height: 140px;
}

#grand div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20% 0 0 16%;
}

.back-home {
  width: 100%;
}