@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

#root {
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
}
a{
  text-decoration:none;
}


