.audiodiv {
  display: flex;
  gap: 13%;
  margin: 0 auto 160px;
  align-items: center;
  width: 1110px;
}

.audman {
  background-image: url('../../../../assets/shared/desktop/image-best-gear.jpg');
  background-position: center;
  width: 48.7%;
  height: 588px;
  border-radius: 8px;
}

.audiotext {
  width: 38.3%;
  text-align: left;
}

.audiotext h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
}

.audiotext h1 span {
  color: #D87D4A;
}

.audiotext p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  padding-top: 32px;

}

@media (max-width:1150px) {
  .audiodiv {
    width: 100%;
    gap: 10%;
  }

  .audiotext {
    padding-left: 3%;
  }
}

@media (max-width:768px) {
  .audiodiv {
    flex-direction: column;
    gap: 63px;
    margin: 0 auto 120px;
    width: 689px;
  }

  .audman {
    background-image: url('../../../../assets/shared/tablet/image-best-gear.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    order: 1;
  }

  .audiotext {
    width: auto;
    max-width: 573px;
    text-align: center;
    order: 2;
    padding-left:15px;
    padding-right:15px;
  }

}

@media (max-width:689px) {
  .audiodiv {
    width: 100%;
  }
}

@media (max-width:375px) {
  .audiodiv {
    width: 327px;
  }

  .audman {
    background-image: url('../../../../assets/shared/mobile/image-best-gear.jpg');

  }

  .audiotext {
    width: auto;
  }

  .audiotext h1 {

    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
  }

}